@font-face {
  font-family: 'Presto';
  src: url('fonts/PrestoMediumItalic.woff2') format('woff2'),
      url('fonts/PrestoMediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Presto';
  src: url('fonts/PrestoMedium.woff2') format('woff2'),
      url('fonts/PrestoMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sarina';
  src: url('fonts/Sarina-Regular.woff2') format('woff2'),
      url('fonts/Sarina-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Art work css */

.font-presto{
  font-family: 'Presto';
}

.font-courier{
  font-family: 'Courier Prime', monospace;
}

.font-sarina{
  font-family: 'Sarina';
}

.bg-home{
  background: url("./background/bg-home.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/* .landing-page{
  background: url("./background/bg-landing-page-min.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.shop-section{
  background: url("./background/bg-shop-page-min.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* .read-page{
  background: url("./background/bg-footer-min.png") no-repeat top center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.footer-page{
  background: url("./background/bg-footer-min.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.shop-page{
  background: url("./background/bg-shop-long-page.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-page{
  background: url("./background/bg-about-page.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-signup{
  background: url("./background/bg-signup.png") no-repeat top center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.video-dim{
  width: 600px;
}

@media screen and (max-width:1260px) {
  .video-dim{
    width: 450px;
  }
}

.bg-gray{
  background-color: #C0C0BF;
}

.bg-gray-2{
  background-color: #d1ceca;

}

.bg-video-header{
  background-image: linear-gradient(to right, #1C327D, #3A7FC9);
}

.mr-sm{
  margin-right: 2px;
}

.p-1{
  padding: 0px 3px !important;
}

.first-pos{
  left: 4rem;
  top: 10rem;
}

.h-product{
  height: 35rem;
}

.h-product2{
  height: 25rem;
}

.bg-prd-title{
  background-color: #C0D1D6;
}

.bg-prd-price{
  background-color: #325F60;
}

.shades::before{
  content: "";
  position: absolute;
  background-color: #111827;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 2px;
  left: -2px;
}

.gray-shades::before{
  content: "";
  position: absolute;
  background-color: #2e2e2e;
  width: 100%;
  height: 80%;
  z-index: -1;
  top: 10px;
  left: -2px;
}

.bg-wheat{
  background-color: white;
}

.text-shadow{
  text-shadow: 4px 4px 1px #000;
}

.text-shadow-lg{
  text-shadow: 6px 6px 1px #000;
}

.text-sea{
  color: #1C4559;
}

.modal-width{
  width: 40% !important;
}

.modal-img{
  height: 400px;
}

.w-signup{
  width: 530px;
}

.about-page p{
  color: white;
}

.h-artist{
  height: 600px;
}

a:hover{
  text-decoration: none;
  color: black;
}

@media screen and (max-width:990px) {
  .h-product{
    height: 20rem;
  }
  
  .h-product2{
    height: 10rem;
  }
  
  .modal-width{
    width: 90% !important;
  }

  .modal-img{
    height: 300px;
  }

  .w-signup{
    width: 100%;
  }

  .h-artist{
    height: 400px;
  }
}