@font-face {
  font-family: 'Presto';
  src: url('fonts/PrestoMediumItalic.woff2') format('woff2'),
      url('fonts/PrestoMediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Presto';
  src: url('fonts/PrestoMedium.woff2') format('woff2'),
      url('fonts/PrestoMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sarina';
  src: url('fonts/Sarina-Regular.woff2') format('woff2'),
      url('fonts/Sarina-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Pixact CSS */

/* body{
  overflow: hidden;
} */

.pixact-label{
  transform: rotate(90deg);
}

.bg-cover{
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  z-index: 0;
}

.bg-work{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
  url("./background/work.jpg") no-repeat center; 
}

.bg-services{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
  url("./background/services.jpg") no-repeat center; 
}

.bg-approach{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
  url("./background/approach.jpg") no-repeat center fixed; 
}

.bg-contact{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
  url("./background/contact.jpg") no-repeat center fixed; 
}

.bg-service-ui{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
  url("./background/ui-design.jpg") no-repeat center; 
}

/* .bg-service-dev{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
  url("./background/development.jpg") no-repeat center; 
} */

.bg-service-data{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
  url("./background/data.jpg") no-repeat center; 
}

/* .bg-service-digi{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
  url("./background/digi.jpg") no-repeat center; 
} */

.text-gray{
  color: #636363;
}

.btn:hover{
  width: 9.5rem;
  transition: all 0.3s;
}

.z-minus{
  z-index: -1;
}

.services-options{
  transition: all 0.5s;
}

.float-around-box{
  animation: topToBottom linear 3s infinite alternate;
  -webkit-animation: topToBottom linear 3s infinite alternate;
  -moz-animation: topToBottom linear 3s infinite alternate;
  -o-animation: topToBottom linear 3s infinite alternate;
  -ms-animation: topToBottom linear 3s infinite alternate;
}

.see-work-scroll{
  animation: topToBottom linear 3s infinite alternate;
  -webkit-animation: topToBottom linear 3s infinite alternate;
  -moz-animation: topToBottom linear 3s infinite alternate;
  -o-animation: topToBottom linear 3s infinite alternate;
  -ms-animation: topToBottom linear 3s infinite alternate;
}

@keyframes topToBottom {
  from {top: 0;}
  to {top: 70%;}
}

@keyframes aroundBox {
  from {left: -33%;}
  to {left: 100%;}
}


@media screen and (max-width:990px) {

  body{
    overflow-x: hidden;
  }

}